@import "./variables";

.btn-primary {
  border: 2px solid $theme-primary !important;
  background: transparent !important;
  color: $theme-primary !important;
  letter-spacing: 1.5px;

  &:hover {
    background: $gradient !important;
    color: $white !important;
  }
  &:focus {
    box-shadow: none !important;
  }
  &:active {
    box-shadow: none !important;
  }
}

.btn-paging {
  width: 120px;
}

.btn-subscribe {
  border: 2px solid $theme-primary !important;
  background: $gradient !important;
  color: white !important;
  &:hover {
    background: $gradient-hover !important;
  }
}
