$theme-primary: #f69b4a;
$theme-primary-hover: #eb6d00;
$theme-primary-hover-dark: #f69b4a;
$theme-primary-hover-extra-dark: #f69b4a;
$theme-primary-hover-light: #f69b4a;
$gradient: linear-gradient(60.28deg, $theme-primary, $theme-primary-hover);
$white: #ffffff;
$dark: #555555;
