@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import "./navbar";
@import "./particles";
@import "./forms";
@import "./buttons";
@import "./variables";
@import "./typography";
body {
  font-family: "Roboto Mono", monospace;
  color: $dark;
}
.pages {
  margin-top: 40px;
}
button:focus {
  outline: none !important;
}
.theme-color {
  color: $theme-primary;
}

.theme-color-hover {
  color: $theme-primary-hover;
}

.theme-color-hover-extra-dark {
  color: $theme-primary-hover-extra-dark;
}

a {
  text-decoration: none !important;
}
.home-content {
  color: $dark;
  height: 82vh;
}
.content {
  color: $dark;
  min-height: 78vh;
}

.social {
  font-size: 25px;
  color: $theme-primary-hover;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: $white;
  }
}

.admin-card {
  background-color: transparent !important;
  border: 2px solid $theme-primary-hover !important;
  color: $white;
}

.card-project {
  border-radius: 0px !important;
  background: $theme-primary-hover-dark !important;
  transition: box-shadow 0.5s ease-in-out;
  color: $theme-primary-hover !important;
  &:hover {
    box-shadow: 0 5px 15px #000000, 0 2px 3px $theme-primary;
  }
  &-image-background {
    height: 200px;
    border-radius: 0 0 !important;
    background-size: cover;
    background-position: center;
  }
}

.avatar {
  height: 200px !important;
  transition: height 0.3s ease-in-out;
  &:hover {
    height: 245px !important;
  }
}

/*Button Styling*/

.footer {
  padding: 10px;
  border-top: 2px solid $theme-primary-hover-extra-dark;
  color: $white;
  font-family: "Inconsolata", monospace;
}

.VictoryContainer {
  border-radius: 1.2rem !important;
  background: rgba(34, 34, 34, 0.2);
  box-shadow: 0 5px 15px #000000, 0 2px 3px $theme-primary-hover-dark;
  tspan {
    fill: $theme-primary-hover !important;
  }

  line {
    stroke: $theme-primary-hover-dark !important;
  }
}

.vertical-timeline::before {
  background-color: $theme-primary-hover;
}

.vertical-timeline {
  .vertical-timeline-element-title {
    color: $theme-primary-hover;
  }
  .vertical-timeline-element-description {
    color: $theme-primary-hover !important;
  }
}

.gradient-text {
  background: linear-gradient(60.28deg, $theme-primary, $theme-primary-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.report-card {
  border: none !important;
  .card-body {
    background-color: $theme-primary-hover-extra-dark;
  }
  .gradient-text {
    background: linear-gradient(
      60.28deg,
      $theme-primary-hover-extra-dark,
      #ffffff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .report-views-title {
    font-size: 2rem;
    font-weight: 800;
  }
}

.emails-list {
  .list-group-item {
    background-color: $theme-primary-hover-extra-dark;
    color: $theme-primary-hover;
  }
  .list-group-item.email-unread {
    background-color: $theme-primary-hover;
    color: $theme-primary-hover-extra-dark;
  }
}

.tile {
  background-color: rgba(51, 51, 51, 0.6);
  padding: 20px;
  margin: 10px;
}

.vertical-timeline-element-icon {
  display: flex;
}

.title-medium {
  font-size: 20px;
  background: linear-gradient(170deg, #ffffff, $theme-primary-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-contact-form {
  max-width: 750px;
  min-width: 350px;
}
