@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');

$theme-primary:#212121;
$theme-primary-hover:#7d7d7d;
$theme-primary-hover-dark:#272727;
$theme-primary-hover-extra-dark:#333333;
$theme-primary-hover-light:#e37885;
$white: #ffffff;

body {
    font-family: 'Montserrat', sans-serif !important;
    color:#ffffff;
  }
button:focus{
    outline: none !important;
}
.theme-color{
    color: $theme-primary;
}

.theme-color-hover{
    color: $theme-primary-hover;
}

.theme-color-hover-extra-dark{
    color:$theme-primary-hover-extra-dark;
}

a{
    text-decoration: none !important;
}
.navbar{
    .brand{
        text-align: left;
        color: #ffffff;
        transition: color 0.5s ease-in-out;
        padding: 10px;
        &:hover{
            text-decoration: none;
            color:$theme-primary-hover;
            
        }
        .logo-text{
            font-size: 1.2rem !important ;
            font-family:'Inconsolata', monospace;
        }
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                font-family:'Inconsolata', monospace;
                letter-spacing: 4px;
                color: #ffffff !important;
                &:hover{
                    color:$theme-primary-hover !important;
                }
            }
            .nav-link-selected{
                color: $theme-primary-hover !important;
            }
        }
    }
    .navbar-collapse{
        @media(max-width:518px) {
            background-color: $theme-primary;
            opacity: 0;
            transition:  height 0.5s ease-in-out, opacity 1s ease-in-out;
            
            display: block !important;
            visibility: hidden;
            height: 0px !important;
        }
    }
    .nav-show{
        visibility: visible;
        opacity: 1;
        margin-bottom: 20px !important;
        height: 120px !important;
    }
}
.home-content{
    color:#ffffff;
    height: 82vh;
}
.content{
    color:#ffffff;
    min-height: 78vh;
}
.pages{
    margin-top: 80px;
    
}

.social{
    font-size: 25px;
    color:$theme-primary-hover;
    transition: color 0.5s ease-in-out;
    &:hover{
        color:$white;
    }
}

.particles-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background:#212121;
    canvas{
        display: block;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
        transition: opacity .8s ease, transform 1.4s ease
    }
}

.admin-card{
    background-color: transparent !important;
    border: 2px solid $theme-primary-hover !important;
    color: $white;
}


.card-project{
    border-radius:0px !important;
    background:$theme-primary-hover-dark !important;
    transition: box-shadow 0.5s ease-in-out;
    color: $theme-primary-hover !important;
    &:hover{
        box-shadow: 0 5px 15px #000000, 0 2px 3px $theme-primary;
    }
    &-image-background{
        height: 200px;
        border-radius: 0 0 !important;
        background-size:cover;
        background-position: center;
    }

}

.avatar{
    height: 200px !important;
    transition: height 0.3s ease-in-out;
    &:hover{
        height: 245px !important;
    }
}

/*Button Styling*/

.btn-primary{
    border:2px solid $theme-primary-hover !important;
    background:transparent !important;
    
    &:hover{
        background: $theme-primary-hover-extra-dark !important;
    }
    &:focus{
        box-shadow: none !important;
    }
    &:active{
        box-shadow: none !important;
    }
}

.footer{
    padding: 10px;
    border-top: 2px solid $theme-primary-hover-extra-dark;
    color: $white;
    font-family:'Inconsolata', monospace;
}

.VictoryContainer{
    border-radius:1.2rem !important;
    background: rgba(34, 34, 34,0.2);
    box-shadow: 0 5px 15px #000000, 0 2px 3px $theme-primary-hover-dark;
    tspan{
        fill:$theme-primary-hover !important;
    }

    line{
        stroke:$theme-primary-hover-dark !important;
    }
}

.vertical-timeline::before{
    background-color: $theme-primary-hover;
}

.vertical-timeline{

        .vertical-timeline-element-title{
            color:$theme-primary-hover;
        }
        .vertical-timeline-element-description{
            color:$theme-primary-hover !important;
        }
}


.gradient-text{
    
    background:linear-gradient(60.28deg,$theme-primary-hover,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.report-card{
    border:none !important;
    .card-body{
        background-color: $theme-primary-hover-extra-dark;

    }
    .gradient-text{
    
        background:linear-gradient(60.28deg,$theme-primary-hover-extra-dark,#ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .report-views-title{
        font-size: 2rem;
        font-weight: 800;
    }
    
}


.emails-list{

    .list-group-item{
        background-color:$theme-primary-hover-extra-dark;
        color:$theme-primary-hover;
    }
    .list-group-item.email-unread{
        background-color:$theme-primary-hover;
        color:$theme-primary-hover-extra-dark;
    }
}

.tile{
    background-color: rgba(51,51,51,0.6);
    padding: 20px;
    margin: 10px;
}

.vertical-timeline-element-icon{
    display: flex;
}

.title-medium{
    font-size: 20px;
    background:linear-gradient(170deg,#ffffff,$theme-primary-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.div-contact-form{
    max-width: 750px;
    min-width: 350px;
}

.form-control{
    background:transparent !important;
    color: white !important;
    &:focus{
        background: transparent !important;
        color: white !important;
        box-shadow: $theme-primary-hover !important;
        border-color:none !important;
    }
}